<ion-view title="About Us">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Why First Steps?</h1>
        <div>
            <p>We all want to remember our childrens'
                <strong>First Steps</strong>and other milestones. I remember takiing so many photos, videos and writing so many entries in a journal to capture all of these majic moments. Then we would spend time uploading everthing to YouTube, Facebook, Dropbox
                etc..</p>

            <p>I knew there had to be an easierier way and that is when I created
                <strong>First Steps</strong>. It is an app that is extremely easy to use and it will hopefully make as much of an impact on your life as it has on mine.</p>

            <p>Thank you to all the parents out there that have made this possible...</p>
        </div>
    </ion-content>
</ion-view>