<ion-view title="Children">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-radio>Reese Monroe Friedland</ion-radio>
            <ion-radio>Ryder Lee Friedland</ion-radio>
            <ion-radio>Aiden Gaona</ion-radio>
        </form>
        <button class="button button-positive button-block  icon-left ion-android-add">Add Child</button>
        <div class="button-bar">
            <button class="button button-stable button-block  icon ion-ios-camera"></button>
            <button class="button button-stable button-block  icon ion-ios-videocam"></button>
            <button class="button button-stable button-block  icon ion-ios-compose"></button>
        </div>
    </ion-content>
</ion-view>