<ion-view title="Contact Us">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Subject">
            </label>
            <div class="spacer" style="width: 283px; height: 12px;"></div>
            <label class="item item-input">
                <input type="text" placeholder="Concern">
            </label>
        </form>
        <a href="#/side-menu21/children" class="button button-balanced button-block  icon-left ion-android-send">Submit</a>
    </ion-content>
</ion-view>