<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-item class="item-divider">Social Media</ion-item>
            <ion-toggle toggle-class="toggle-positive">Facebook</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Twitter</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Instagram</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">YouTube</ion-toggle>
            <ion-item class="item-divider">Storage</ion-item>
            <ion-toggle toggle-class="toggle-positive">Dropbox</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Google Drive</ion-toggle>
        </form>
    </ion-content>
</ion-view>